# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# ======================
# Pytest / Testing
# ======================
.pytest_cache/
.coverage
htmlcov/

# ======================
# Environment variables
# ======================
.env
.env.docker

# ======================
# Logs
# ======================
*.log

# ======================
# OS / Editor files
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Build / Distribution
# ======================
build/
dist/
*.egg-info/

# ======================
# Project specific
# ======================
datasets/
datasets_raw/
datasets_processed/
``